.contact {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-1);
    column-gap: 120px;
}

.contact h4 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.contact .col {
    max-width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    flex-grow: 1;
}

.contact .col .text {
    margin-bottom: 20px;
}

.contact .col a {
    width: 100%;
    display: flex;
    column-gap: 16px;
}

.contact .col a .icon-wrapper {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.contact .col a .icon-wrapper .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.contact .col a .info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.contact h6 {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

.contact p {
    margin: 0;
    font-size: 16px;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-2);
    padding: var(--space-xl);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.form-wrapper h4 {
    width: 100%;
    margin-bottom: 40px;
}

.form-wrapper form {
    width: 100%;
    margin-right: var(--space-m);
}

.form-wrapper form input {
    border: none;
    padding: var(--space-xs);
    margin-bottom: var(--space-s);
    width: 100%;
    border-radius: 8px;
}

.form-wrapper form label {
    font-size: var(--step--1);
    font-weight: 700;
}
